

<div class="d-flex min-vh-100 home-bg ">
  <!-- Left Side - Introduction -->
  <div class="flex-fill d-flex align-items-center justify-content-center  p-5">
    <div>
      <h1 >Hi, I'm  Savan 👋</h1>
      <p class="lead text-muted mb-4">
        I'm a full stack web developer with a passion for building innovative, responsive, and scalable web applications. 
        With a strong foundation in <strong>Angular</strong>, <strong>HTML</strong>, <strong>CSS</strong>, <strong>JavaScript</strong>, 
        <strong>Node.js</strong>, and <strong> databases </strong>, I bring ideas to life through clean code and creative problem-solving. 
        I also have a deep understanding of <strong>Java</strong>, <strong>C</strong>, <strong>C++</strong>, and <strong>data structures and algorithms (DSA)</strong>, 
        making me a versatile and dynamic developer.
      </p>
      <button routerLink="/project" class="btn btn-primary btn-lg">View My Work</button>
    </div>
  </div>

  <!-- Right Side - Photo -->
  <div class="flex-fill d-flex align-items-center justify-content-center bg-primary p-4">
    <img src="assets/images/Screenshot 2025-05-02 184549.png" alt="Ankitha" class="rounded-circle shadow-lg" style="width: 300px; height: 300px; object-fit: cover;">
  </div>
</div>



